uploads/**/*.jpg
uploads/**/*.jpeg
uploads/**/*.png
uploads/**/*.webp
uploads/**/*.ps
uploads/**/*.pdf
uploads/**/*.xps
uploads/**/*.odf
uploads/**/*.docx
uploads/**/*.rtf
uploads/**/*.odt
uploads/**/*.txt
uploads/**/*.html
uploads/**/*.wps
uploads/**/*.csv
uploads/**/*.xlsx
uploads/**/*.xls
uploads/**/*.ods
uploads/**/*.pptx
uploads/**/*.ppt
uploads/**/*.odp
.idea/