* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

:root {
    --primary-color: #3498db;
    --primary-color-dark: #2980b9;
    --accent-color: #f1c40f;
    --danger-color: #e8776b;
    --danger-color-dark: #e74c3c;
    --off-white: #f3f3f3;
    --off-white-dark: #c4cfcf;
    --white-color: #ffffff;
    --gray-color: #a5a5a5;
    --black-color: #232323;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.container.px {
    padding-left: 20px;
    padding-right: 20px;
}

.container.py {
    padding-top: 70px;
    padding-bottom: 70px;
}

.text-primary {
    color: var(--primary-color);
}

.semibold {
    font-weight: 600;
}

.btn {
    padding: 8px 20px;
    border: none;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid var(--gray-color);
    transition: all 0.4s;
    font-size: 16px;
    line-height: 1em;
    font-family: 'Lato', sans-serif;
}

.btn.btn-primary {
    background: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);
}

.btn.btn-primary:hover {
    background: var(--primary-color-dark);
    border-color: var(--primary-color-dark);
}

.btn.btn-secondary {
    background: var(--off-white);
    color: var(--primary-color-dark);
    border-color: var(--primary-color-dark);
}

.btn.btn-secondary:hover {
    background: var(--off-white-dark);
}

.btn.disabled {
    background: var(--off-white-dark) !important;
    border-color: var(--gray-color);
    cursor: not-allowed;
}

.error {
    background-color: var(--danger-color);
    color: var(--white-color);
    padding: 7px 25px;
    border-radius: 8px;
}

.success {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 7px 25px;
    border-radius: 8px;
}

/* LOGIN PAGE */
#login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-page .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-page #login-form {
    display: flex;
    flex-direction: column;
}

#login-page .custom-input {
    display: block;
    width: 300px;
    margin-bottom: 10px;
    padding: 9px 20px;
    border-radius: 8px;
    border: none;
    background: var(--off-white);
}

/* ADMIN HEADER */
#admin-header {
    padding: 20px 0;
    background: var(--primary-color);
}

#admin-header .container, #admin-header .container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#admin-header .app-name {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 24px;
    color: var(--white-color);
}

#admin-header .nav-link {
    margin-left: 15px;
    background: transparent;
    border: none;
    padding: 0;
    font-size: 16px;
    color: var(--white-color);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.4s;
}

#admin-header .nav-link:hover {
    color: var(--accent-color);
}

/* USER ADMIN */

.users-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.user-card {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    overflow: hidden;
}

.user-card.inactive {
    border: 4px solid var(--gray-color);
    filter: grayscale(100%) opacity(70%);
}

.user-card .profile-picture {
    width: 100%;
    aspect-ratio: 1;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.user-card .role {
    padding: 3px 9px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: 10px;
    left: 10px;
}

.user-card .actions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.action {
    background: var(--white-color);
    width: 25px;
    height: 25px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 5px;
    color: var(--white-color);
    cursor: pointer;
    border: none;
}

.action.edit {
    background: var(--primary-color);
}
.action.edit:hover {
    background: var(--primary-color-dark);
}
.action.delete {
    background: var(--danger-color);
}
.action.delete:hover {
    background: var(--danger-color-dark);
}

.user-card.inactive .action.view {
    display: none;
}

.user-card .user-data {
    padding: 10px;
}

.user-card .full-name {
    margin: 5px 0;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.user-card .username {
    margin: 5px 0;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: var(--primary-color);
}

.user-card .last-login {
    font-size: 14px;
}

/* CUSTOM FORM */

.custom-form {
    margin-top: 40px;
    display: flex;
}

.custom-form hr {
    border: 1px solid var(--off-white);
    margin-top: 40px;
    margin-bottom: 20px;
}

.custom-form .required {
    color: var(--danger-color);
}

.custom-form .data-section {
    width: 70%;
    padding-right: 60px;
}

.custom-form .manage-section {
    width: 30%;
    background: var(--off-white);
    padding: 20px;
    border-radius: 10px;
}

.custom-form .input-wrapper {
    margin-bottom: 15px;
}

.custom-form .input-wrapper label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.custom-form .text-input label,
.custom-form .file-input label,
.custom-form .select-input label {
    display: block;
}

.custom-form .text-input input,
.custom-form .date-input input,
.custom-form .file-input input,
.custom-form .select-input select {
    display: block;
    width: 100%;
    padding: 7px 20px;
    font-size: 16px;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
}

.custom-form #profile-picture-container,
.custom-form #logo-container {
    margin: 10px 0;
    width: 100%;
    aspect-ratio: 1;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.custom-form #profile-picture-container .action,
.custom-form #logo-container .action {
    position: absolute;
    top: 10px;
    right: 10px;
}

.custom-form .file-input #profile-picture-container,
.custom-form .file-input #logo-container,
.custom-form .file-input input {
    display: none;
}

.custom-form .file-input #profile-picture-container.show,
.custom-form .file-input #logo-container.show,
.custom-form .file-input input.show {
    display: block;
}

.custom-form .change-password {
    display: block;
    text-decoration: underline;
    margin-top: 20px;
    font-weight: 600;
    color: var(--primary-color);
}

.custom-form .change-password:hover {
    color: var(--primary-color-dark);
}

.custom-form .date-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.custom-form .date-field input {
    width: 80%;
}

.custom-form .date-field button {
    width: 18%;
    padding: 9px 0;
    text-align: center;
    font-size: 16px;
    background: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
}

.custom-form .date-field button:hover {
    background: var(--primary-color-dark);
}

.table-actions {
    display: flex;
    align-items: center;
}

.action {
    background: var(--white-color);
    width: 25px;
    height: 25px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 5px;
    color: var(--white-color);
    cursor: pointer;
    border: none;
}

.action.delete {
    background: var(--danger-color);
}

.action.delete:hover {
    background: var(--danger-color-dark);
}

.admin-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-actions {
    margin-top: 60px;
}

.remove-actions form {
    display: inline;
}

@media screen and (max-width: 768px) {
    .custom-form {
        display: flex;
        flex-direction: column;
    }

    .custom-form .data-section {
        width: 100%;
        padding-right: 0;
    }

    .custom-form .manage-section {
        width: 100%;
        padding: 20px;
        margin-top: 3%;
    }
}

/* FORM UTILITIES */

.grid {
    display: grid;
    gap: 20px;
}

.grid.cols-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid.cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.images-input {
    width: 100%;
    padding: 6px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    margin-bottom: 50px;
}

.images-input label {
    min-width: max-content;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 20px;
}

.images-input input {
    display: block;
    width: 100%;
    padding: 7px 20px;
    font-size: 16px;
}

.images-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.images-grid .image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e2efff;
    position: relative;
}

.images-grid .image-container img {
    max-width: 100%;
}

.images-grid .image-container .delete {
    position: absolute;
    top: 10px;
    right: 10px;
}

.image-to-remove {
    display: block;
    width: 100%;
    max-width: 500px;
}

@media screen and (max-width: 768px) {
    #manage-media .admin-bar {
        flex-direction: column-reverse;
        align-items: start;
    }

    .images-input label {
        margin-top: 10px;
        margin-right: 0;
    }

    .images-input {
        flex-direction: column;
    }

    .images-input input {
        margin: 10px 0;
    }

    .images-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

/* BUSINESS TABLE */

.business-table {
    width: 100%;
}

.business-table thead {
    background: var(--primary-color);
    color: var(--white-color);
}

.business-table th, .business-table td {
    text-align: left;
    padding: 5px 10px;
}

.business-table .logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}

.business-table tbody tr {
    cursor: pointer;
}

.business-table tbody tr:nth-child(odd) {
    background-color: var(--white-color);
}

.business-table tbody tr:nth-child(even) {
    background-color: var(--off-white);
}

.business-table tbody tr:hover {
    background: var(--off-white-dark);
}

.business-table .logo-column {
    width: 50px;
}

.business-table .id-column {
    width: 40px;
}

.business-table .name-column {
    width: 400px;
}

.business-table .status-column {
    width: 100px;
}

.business-table .actions-column {
    width: 100px;
}

.business-table .status {
    padding: 4px 10px;
    border-radius: 4px;
    color: var(--white-color);
}

.business-table .status.active {
    background: var(--primary-color);
}

.business-table .status.inactive {
    background: var(--danger-color);
}

/* REMOVE USER */

.remove-actions {
    margin-top: 60px;
}

.remove-actions form {
    display: inline;
}
